
<footer class="footer">
	<div class="wrap">
		<div class="lists-columns">
			<div class="attributions">
				<label>Atribuciones</label>
				<table>
					<tr>
						<td><a href="http://leafletjs.com">Leaflet</a></td>
						<td><a href="http://cartodb.com">CartoDB</a></td>
					</tr>
					<tr>
						<td><a href="http://stamen.com">Stamen Design</a></td>
						<td><a href="http://openstreetmap.org">OpenStreetMap</a></td>
					</tr>
				</table>
			</div>
			<div class="contact">
				<label>Contacto</label>
				<table>
					<tr><td><a href="http://github.com/bitTal">Github: bitTal</a></td></tr>
					<tr><td>albafjez@gmail.com</td></tr>
				</table>
			</div>
		</div>
		<div class="rights">© All rights reserved</div>
	</div>
</footer>