<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />
</head>
<body>
	<script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

	<%= render "shared/header" %>
	<div class="maps-container">
		<div id="map"></div>
		<div id="mini-map" class="canarias"></div>
	</div>

	
	<div class="image-container" id="i1"></div>
	<div class="image-container" id="i2"></div>
	<div class="images-container">
		<div class="image-container" id="i3"></div>
		<div class="image-container" id="i4">
			<div class="viel"></div>
		</div>
	</div>
	<div class="image-container" id="i5"></div>
	<div class="image-container" id="i6"></div>
	<div class="image-container" id="i7">
		<div class="viel"></div>
	</div>
	<div class="image-container" id="i8"></div>
	<div class="image-container" id="i9"></div>

	

	<%= render "shared/footer" %>
	
</body>
</html>
