header {
	width: 100%;

	.wrap {
		padding-top: 20px;
		padding-bottom: 15px;
		-moz-box-sizing: border-box;
	  	box-sizing: border-box;
		display: flex;
		felx-flow: row nowrap;
		justify-content: space-between;
	}
}

a {
	text-decoration: none;
}

.menu-button {
	.icon {
		position: relative;
		top: 0;
		margin-right: 35px;
		cursor: pointer;
		opacity: 1;
	}

	& a {
		position: absolute;
		top: -50px;
		margin-right: 20px;
		color: #A0CC52;
		font-size: 20px;
		font-weight: 700;
		opacity: 0;
		transition: opacity 1s ease;
	}

	& a:hover {
		color: grey;
	}
}

.is-open a {
	position: relative;
	top: 0;
	opacity: 1;
}

.user {
	-moz-box-sizing: border-box;
  	box-sizing: border-box;
	display: flex;
	flex-flow: row nowrap;
	text-transform: uppercase;

	a {
		cursor: pointer;
		margin-right: 2em;
	}

	a:last-child {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		background-color: #A0CC52;
		margin-right: 0;
		color: white;
	}

	a:last-child:hover {
		background-color: grey;
	}
	
}