header {
	width: 100%;
	height: 90px;
	-moz-box-sizing: border-box;
  	box-sizing: border-box;
	display: flex;
	felx-flow: row nowrap;
	justify-content: space-between;
	padding: 20px 20px 20px 20px;
}

#menu-button {
	width: 50px;
	height: 50px;
}

#contact {
	-moz-box-sizing: border-box;
  	box-sizing: border-box;
	display: flex;
	flex-flow: row nowrap;
	text-transform: uppercase;
	span {
		cursor: pointer;
		margin-right: 2em;
	}
	span:last-child {
		margin-right: 0;
	}
	
}