
.form {
	margin-bottom: 10px;

	label {
		margin-right: 2px;
		font-family: Arial;
		font-size: 15px;
	}

	select {
		margin-right: 7px;
	}

}

select, input {
	padding: 8px 15px;
	border: 0;
	border-radius: 15px;
	color: white;
	cursor: pointer;
	font-size: 14px;

	@media screen and (min-width: 800px){
		font-size: 15px;
	}

	@media screen and (min-width: 1280px){
		font-size: 17px;
	}
}

select {
	background-color: grey;
	border: 1px solid grey;
}

select:hover{
	color:#A0CC52;
	background-color: white;
	border: 1px solid lightgrey;
}

select option {
	-webkit-appearance: none;
	appearance: none;
	min-height: 30px;
	font-size: 14px;
	color: white;
	background-color: grey;

	@media screen and (min-width: 800px){
		font-size: 15px;
	}

	@media screen and (min-width: 1280px){
		font-size: 17px;
	}
}

select option:hover {
	cursor: pointer !important;
	background-color: #A0CC52;
}

input {
	background-color: grey;
	border: 2px solid #666;
}

input:hover {
	background-color: #A0CC52;
	border: 2px solid #A0CC52;
}