
.wrap {
	height: fit-contect;
	padding-top: 10px;
	padding-bottom: 10px;

	.backoffice-header {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	a {
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		width: 100%;
		height: 100%;
	}

	.menu-item {
		width: 30px;
		height: 30px;
		font-size: 12px;
		padding: 5px 5px;
		border-radius: 50%;

		@media screen and (min-width: 768px) {
			width: 45px;
			height: 45px;
			font-size: 16px;
		}
	}

	.edit {
		padding: 5px 5px;
		background-color: #A0CC52;
		border: 2px solid #A0CC52;

		& a {
			color: white;
		}
	}

	.edit:hover {
		background-color: #666;
		border: 2px solid #666;
	}


	.tools {
		display: flex;
		flex-flow: row nowrap;

		.menu-item:first-child {
			margin-left: 0;
		}

		.menu-item {
			margin-left: 15px;
			text-align: center;
			background-color: white;
			border: 1px solid lightgrey;

			@media screen and (min-width: 500px) {
				margin-left: 50px;
			}

			@media screen and (min-width: 1024px) {
				margin-left: 70px;
			}

			& a {
				color:#A0CC52;
			}
		}

		.menu-item:hover {
			background-color: grey;
			border: 2px solid grey;

			& a {
				color: white;
			}
		}
	}

	.close {
		display: flex;
		justify-content: flex-end;
		padding: 0;
		padding-top: 2px;

		& a {
			width: 25px;
			height: 25px;
			background-color: #443D3D;
			font-size: 15px;
			font-family: arial;
			border: 2px solid #443D3D;
			border-radius: 50%;
			padding-bottom: 2px;
			color: #A0CC52;
		}

		&:hover a {
			color: white;
		}
	}
}
