
.add-fire {
	align-items: flex-start;
	color: #443D3D;

	.back-title {
		text-transform: lowercase;
	}

	form {
		padding: 3% 10%;
	}

	label {
		margin-right: 8px;
		font-weight: 700;
	}

	select {
		margin-bottom: 20px;
	}

	input {
		margin-left: 20px;
	}


}
