<!DOCTYPE html>
<html>
<head>
  <title>Igneum</title>
  <%= javascript_include_tag 'backoffice', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/backoffice_menu'%>

<%= yield %>

</body>
</html>
